node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*
.nyc_output
coverage
.nyc_output
.coverage
.vscode
.idea
*.log
dist
build
angular-buildspec.yml
karma.conf.js
*.spec.ts
e2e/
src/test.ts
