<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>


    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <div class="mt-1 text-xl sm:text-xl tracking-tight leading-tight text-center">

                <img class="w-50" src="assets/images/logo/logo_2020_9.svg" width="150px" height="150px" center
                    alt="Logo image" />

                <p> <br>
                    The 2025 grant cycle is now open. Proposals may be submitted through your
                    Organizations page.</p>
                <div class="mt-1 text-sm sm:text-sm tracking-tight leading-tight text-center">
                    (If you do not have an Organization, visit the Organizations page to create one).</div>

                <!-- <p> <br>
                    The 2024 grant cycle is closed.</p> -->

            </div>
        </div>
    </div>


    <!-- Main -->
    <!-- <div class="flex-auto p-6 sm:p-10">
        Main

    </div> -->

</div>