<div class="flex flex-col items-center justify-center w-full h-full bg-white">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img class="myImg" src="assets/images/logo/logo_2020_9.svg" alt="Logo image" />
            <p>
                The Hagen Family Foundation provides financial grants to
                not-for-profit organizations around the world in the areas of the arts,education,
                environment, religion, and social services.
            </p>
            <!-- <p>
                This is a separate "module", it has its own directory and routing setup and also it's completely separated from the actual application. This is also a simple example of
                a multiple applications setup that uses the same codebase. You can have different entry points and essentially have different applications within the same codebase.
            </p> -->
            <p *ngIf="!loading && latestSubmissionYear">
                <br>
                The {{ latestSubmissionYear.year }} grant cycle is {{ portalOpen ? 'open' : 'closed' }}.
            </p>
        </div>
        <div>
            <!-- <img src="assets/images/grant_review_timeline.jpg" alt="timeline image" height="90" /> -->
            <img src="assets/images/grant_review_timeline.jpg" class="myImg2" alt="timeline image" />
        </div>
        <div>
            <a class="mt-8" mat-flat-button [color]="'primary'" [routerLink]="'/sign-in'">
                <span>Sign in here</span>
                <mat-icon class="ml-2 icon-size-5" [svgIcon]="'heroicons_solid:arrow-narrow-right'"></mat-icon>
            </a>
        </div>
    </div>
</div>