<div class="flex flex-col items-center justify-center w-full h-full bg-white">
    <div class="w-full max-w-3xl">
        <div class="max-w-none mx-auto prose prose-sm">
            <img
                class="w-50"
                src="assets/images/logo/logo_2020_9.svg"
                width="150px"
                height="150px"
                alt="Logo image"
            />
            <p>
                The Hagen Family Foundation provides financial grants to
                not-for-profit organizations in the areas of the arts,education,
                environment, religion, and social services.
            </p>
            <!-- <p>
                This is a separate "module", it has its own directory and routing setup and also it's completely separated from the actual application. This is also a simple example of
                a multiple applications setup that uses the same codebase. You can have different entry points and essentially have different applications within the same codebase.
            </p> -->
        </div>
        <div>
            <img
                src="assets/images/grant_review_timeline.png"
                alt="timeline image"
            />
        </div>
    </div>
</div>
