.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 1;
    padding: 0 16px;
  }

  .mat-column-link {
    flex: 0 0 140px;
    justify-content: center;
  }

  // .mat-row:hover {
  //   background-color: red;
  // }
  // .mat-row {
  //   cursor: pointer;
  // }