<!-- <h3> -->

<div class="example-container relative">
    <div *ngIf="!loaded"
         class="absolute inset-0 z-10 flex items-center justify-center bg-card/90 dark:bg-gray-900/90 rounded-lg min-h-[160px]"
         role="status"
         aria-label="Loading organizations">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <mat-table [dataSource]="dataSource" matSort class="min-h-[120px]"
               [class.opacity-40]="!loaded" [class.pointer-events-none]="!loaded">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Name
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
        </ng-container>

        <!-- createdOn Column -->
        <ng-container matColumnDef="createdOn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Created On
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{ row.createdAt | date : "MM/dd/yyyy" }}
            </mat-cell>
        </ng-container>

        <!-- link Column -->
        <ng-container matColumnDef="link">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Link
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="goToOrganization(row.organizationID)"
                    mat-dialog-close>
                    Go to Org
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
    </mat-table>
    <mat-paginator [pageSize]="tablePageSize"
                   [pageSizeOptions]="tablePageSizeOptions"
                   [disabled]="!loaded"
                   (page)="onOrganizationsPage($event)"></mat-paginator>
</div>
<button mat-button color="primary" (click)="createOrganization()" fxHide="false">
    <mat-icon>add</mat-icon> Create Organization
</button>