.example-container {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    width: 100%;
}

// .mat-footer-row,
// .mat-header-row,
// .mat-row {
//     display: inline-flex;
//     min-width: 100%;
// }
