<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="flex flex-col shadow bg-card">
        <!-- User info -->
        <div
            class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card"
        >
            <!-- Details -->
            <div
                class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8"
            >
                <div class="text-lg font-bold leading-none">
                    {{ currentUser.email }}
                </div>
                <!-- <div class="text-secondary">London, UK</div> -->
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <!-- <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWERS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWING</span>
                </div>
            </div> -->

            <!-- Menu -->
            <div
                class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6"
            >
                <a class="font-medium" [routerLink]="['./']"> Home </a>
                <!-- if user is in an organization-->
                <!-- <div *ngIf="inOrganization">
                    <a
                        class="text-secondary"
                        [routerLink]="['/pages/organizations']"
                    >
                        Organizations
                    </a>
                </div> -->
                <a class="text-secondary" [routerLink]="['/pages/settings']">
                    Settings
                </a>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div
        class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8"
    >
        <!-- Column -->
        <div class="flex flex-col items-start">
            <fuse-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6">
                <div class="text-xl font-semibold">Organizations</div>
                <div class="flex flex-col sm:flex-row items-start mt-8">
                    <app-user-organization
                        *ngIf="organizations"
                        [user]="user"
                        [organizations]="organizations"
                    ></app-user-organization>
                </div>
            </fuse-card>
        </div>
        <!-- Column -->
        <div class="flex flex-col items-start">
            <fuse-card class="flex flex-col max-w-140 w-full p-6 sm:p-8 pb-6">
                <div class="text-xl font-semibold">Proposals</div>
                <div class="flex flex-col sm:flex-row items-start mt-8">
                    <app-user-proposals [user]="user"></app-user-proposals>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
