#fuse {
  /* ------------------------------------------------------------------------ */
  /* Styles                                                                   */
  /* ------------------------------------------------------------------------ */
  kbd {
    font-family: var(--kbd-font-family);
    font-feature-settings: var(--kbd-font-feature-settings);
    font-optical-sizing: var(--kbd-font-optical-sizing);
    -webkit-font-smoothing: var(--kbd-font-smoothing);

    font-size: var(--kbd-font-size);
    line-height: var(--kbd-line-height);
    font-weight: var(--kbd-font-weight);
    letter-spacing: var(--kbd-letter-spacing);

    color: var(--kbd-text-color);
    background: var(--kbd-bg-color);

    /* Padding */
    padding-block: var(--kbd-padding-y);
    padding-inline: var(--kbd-padding-x);

    /* Border */
    border-style: solid;
    border-width: 1px;
    border-color: var(--kbd-border-color);
    border-radius: var(--kbd-border-radius);
  }

  /* ------------------------------------------------------------------------ */
  /* Variables                                                                */
  /* ------------------------------------------------------------------------ */
  kbd {
    /* Typography */
    --kbd-font-family: var(--font-sans);
    --kbd-font-feature-settings: var(--font-sans--font-feature-settings);
    --kbd-font-optical-sizing: var(--font-optical-sizing);
    --kbd-font-smoothing: var(--font-smoothing);

    --kbd-font-size: var(--text-sm); /* 12px */
    --kbd-line-height: var(--leading-4); /* 16px */
    --kbd-font-weight: var(--font-weight-medium);
    --kbd-letter-spacing: var(--tracking-widest);

    /* Size */
    --kbd-padding-y: 0.125rem; /* 2px */
    --kbd-padding-x: 0.25rem; /* 4px */
    --kbd-border-radius: 0.25rem; /* 4px */

    /* Color */
    --kbd-bg-color: var(--color-neutral-100);
    --kbd-text-color: var(--color-neutral-700);
    --kbd-border-color: var(--color-neutral-300);
  }
}
