<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                <div class="flex flex-auto items-center min-w-0">
                    <div class="flex flex-col min-w-0 ml-4">
                        <div class="text-xl md:text-xl font-semibold tracking-tight leading-7 md:leading-snug truncate">
                            View Proposals
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header -->

    <!-- Main -->
    <div class="text-center pt-4 sm:pt-6 ">
        <div class="flex justify-center ...">
            <div class="w-200">

                <div>
                    <mat-form-field class="w-full">
                        <!-- <mat-label>Filter</mat-label> -->
                        <input matInput placeholder="Filter" #filterInput>
                    </mat-form-field>
                </div>

                <!--TODO: Remove -->
                <!-- Debugging -->
                <!-- Limit - {{limit}} Skip - {{skip}} -->

                <mat-table [dataSource]="data" matSort matSortActive="createdOn" matSortDisableClear
                    matSortDirection="desc">
                    <!-- Project Title Column -->
                    <ng-container matColumnDef="projectTitle">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Project Title
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.projectTitle }} </mat-cell>
                    </ng-container>

                    <!-- createdOn Column -->
                    <ng-container matColumnDef="createdOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            Created On
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.createdAt | date: "MM/dd/yyyy" }}
                        </mat-cell>
                    </ng-container>

                    <!-- Amount Requested Column -->
                    <ng-container matColumnDef="amountRequested">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Amount Requested
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.amountRequested | currency}}
                        </mat-cell>
                    </ng-container>

                    <!-- Total Project Cost Column -->
                    <ng-container matColumnDef="totalProjectCost">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Total Project Cost
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            {{ row.totalProjectCost| currency }}
                        </mat-cell>
                    </ng-container>

                    <!-- link Column -->
                    <ng-container matColumnDef="link">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            Link
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button mat-raised-button color="primary" (click)="
                                    goToProposal(row.proposalID)
                                " mat-dialog-close>
                                Go to Proposal
                            </button>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns">
                    </mat-row>
                </mat-table>

                <div *ngIf="!loaded">
                    <mat-spinner></mat-spinner>
                </div>
                <mat-paginator (page)="handlePageEvent($event)" [length]="propCount"
                    [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
</div>